<nav class="navbar">

    <div class="navbar-row1">
        <!-- hamburguer -->
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>

        <!-- logo -->
        <a class="logo" href="/">
            <picture>
                <source media="(max-width: 470px)" srcset="/images/logo-mobile.png">
                <source media="(min-width: 471px)" srcset="/images/logo-desktop.png">
                <img src="/images/logo-mobile.png" alt="Logo do Quero Festa">
            </picture>
        </a>

        <!-- formulário de busca -->
        <form class="busca" action="/produtos/buscar" method="GET">
            <input placeholder="O que você procura?" type="text" name="search" id="search">
            <button type="submit"><img src="/images/lupa.png" alt=""></button>
        </form>

        <!-- carrinho -->
        <div class="carrinho dropdown-carrinho">
            <a href="/pedidos/carrinho">
                <img src="../images/carro-vazio.png" height="38px" width="38px" alt="">
            </a>
            <div id="lista-carrinho" class="dropdown-content-carrinho shadow">
                <div class="carrinho-cabeçalho">
                    <h5>Meu carrinho</h5>
                </div>
                <div class="carrinho-produtos"></div>
                <a href="/pedidos/carrinho" id="ver-carrinho" type="button" class="btn-alt btn btn-sm">Ver carrinho</a>
                <a href="#" id="esvaziar-carrinho" type="button" class="btn-alt btn btn-sm">Esvaziar
                    carrinho</a>
            </div>
        </div>

        <!-- botões de usuário -->
        <div class="usuario">
            <% if (!usuario) { %>
            <div class="botoes">
                <button onclick="redirecionarCadastro()">Cadastrar</button>
                <button onclick="redirecionarLogin()">Entrar</button>
            </div>
            <div class="icone dropdown-usuario">
                <img src="/images/icon-login.png" alt="">
                <div class="dropdown-content-usuario">
                    <a href="/usuarios/cadastro">Cadastrar</a>
                    <a href="/usuarios/logar">Entrar</a>
                </div>
            </div>
            <% } else { %>
            <!-- NOME -->
            <div class="btn-group">
                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <% if(navegacaoLoja) { %>
                    <%= loja.nome %>
                    <% } else { %>
                    <%= usuario.nome %>
                    <% } %>
                </button>
                <div class="dropdown-menu">
                    <% if(navegacaoLoja){ %>
                    <a class="dropdown-item" href="/loja/<%= loja.id %>%>">Perfil</a>
                    <% } else { %>
                    <a class="dropdown-item" href="/usuarios/perfil-cliente/<%= String(usuario.id) %>">Minha Conta</a>
                    <a class="dropdown-item" href="/pedidos/pedido">Meus Pedidos</a>
                    <% } %>

                    <% if (loja) { %>
                    <% if (navegacaoLoja) { %>
                    <a class="dropdown-item" href="/lojas/perfil-loja/<%= loja.id %>">Minha Loja</a>
                    <a class="dropdown-item" href="/alterar-navegacao">Navegar como Cliente</a>
                    <% } else { %>
                    <a class="dropdown-item" href="/alterar-navegacao">Navegar como Loja</a>
                    <% } %>
                    <% } %>
                    <a class="dropdown-item" href="/usuarios/sair">Sair</a>
                </div>
            </div>

            <% if(navegacaoLoja){ %>
            <img class="rounded-circle" src="/images/deco-avatar.png" width="50px" height="50px" alt="avatar">
            <% } else { %>
            <img class="rounded-circle" src="/images/perfilCliente.png" width="50px" height="50px" alt="avatar">
            <% } %>
            <% } %>
        </div>

    </div>
    <div class="navbar-row2">
        <ul class="menu">
            <% if (navegacaoLoja) { %>
            <li><a href="">Novos Pedidos</a></li>
            <li><a href="">Alguma Função</a></li>
            <li><a href="/produtos/cadastrar-produto">Cadastrar Produtos</a></li>
            <li><a href="/usuarios/dashboard">Dashboard</a></li>
            <% } else { %>
            <li><a href="">Aniversário</a></li>
            <li><a href="">Bodas</a></li>
            <li><a href="">Datas especiais</a></li>
            <li><a href="">Comemorações</a></li>
            <% } %>
        </ul>
    </div>

</nav>