<%- include('partials/header') %>

<body>
    <div class="page">
        <%- include('partials/navbar') %>

        <!-- CONTEÚDO PRINCIPAL -->
        <div class="container d-flex flex-column">
            <div class="row infos-resultados">
                <!-- CONTAINER CAMINHO DAS PAGINAS -->
                <%- include('partials/breadcrumb') %>
                <!-- FIM CONTAINER CAMINHO DAS PAGINAS -->
                <div class="resultado-busca">
                    <strong><%= search %></strong>
                    <p>(<%= resultado.length %> resultados encontrados)</p>
                </div>
                <div class="select-ordenar d-flex flex-column">
                    <label>Ordenar por</label>
                    <select name="ordenar" id="ordenar" class="submit-on-change">
                        <option value="">Todos os produtos</option>
                        <option value="">Menor Preço</option>
                        <option value="">Maior Preço</option>
                    </select>
                </div>
            </div>
            <div class="row produtos-busca">
                <% for (produto of resultado) { %>
                <card class="anuncio-box card shadow">
                    <a href="#"><img src="/images/mesversario.png" alt="" class="img-fluid"></a>
                    <titulo class="card-text"><%= produto.nome %></titulo>
                    <div>
                        <span>Avaliação: <b><%= produto.avaliacao %></b></span>
                        <preco>R$<%= produto.valor.toFixed(2) %></preco>
                    </div>
                    <a href="#">Saiba Mais...</a>
                </card>
                <% } %>
            </div>
            <!-- FIM ITENS ACHADOS -->
        </div>
        <!-- </div> -->
    </div>
    </div>
    <%- include('partials/footer') %>
    <%- include('partials/script') %>
</body>