<%- include('partials/header') %>

<body>
    <!-- Pagina Completa -->
    <div class="page">
        <%- include('partials/navbar')%>

        <!-- Conteúdo Principal -->
        <div id="meio-home" class="container">
            <div class="row">
                <!-- Caminho das Páginas -->
                <%- include('partials/breadcrumb') %>
                <div class="card card-body ml-5 mr-5" id="borda">
                    <form action="/lojas/cadastrar-loja" method="POST" enctype="multipart/form-data">
                        <div class="row">
                            <!-- Foto -->
                            <div class="col-4 text-center mt-3">
                                
                                <img src="/images/photo.png" alt="" class="imagem w-75 h-75" >
                                
                                <label for="img-input1">
                                    <img src="/images/quadro.png" alt="" >
                                    <input type="file" class="form-control-file" name="file" id="img-input1"
                                    onchange="carregarImagem(event)" multiple>            
                                </label> 
                            </div>
                            <div class="col-8 mt-2">
                                <!-- Nome da Loja-->
                                <div class="form-group row">
                                    <label for="nome" class="col-sm-3 col-form-label">Nome</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="nome" name="nome"
                                            placeholder="Doces Mania">
                                    </div>
                                </div>
                                <!-- Telefone-->
                                <div class="form-group row">
                                    <label for="telefone" class="col-sm-3 col-form-label">Telefone</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="telefone" name="telefone"
                                            placeholder="(xx)xxxxx-xxxx">
                                    </div>
                                </div>
                                <!-- Email-->
                                <div class="form-group row">
                                    <label for="email" class="col-sm-3 col-form-label">Email</label>
                                    <div class="col-sm-9">
                                        <input type="email" class="form-control" id="email" name="email"
                                            placeholder="fulano@email.com">
                                    </div>
                                </div>
                                <!-- Descrição-->
                                <div class="form-group row">
                                    <label for="descricao" class="col-sm-3 col-form-label">Descrição</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" id="descricao" name="descricao"
                                            rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% if(err > 0){ %>
                        <%= err %>
                        <% } %>
                        <div class="row">
                            <div class="col-12 text-right mt-2">
                                <button type="submit" class="btn btn-alt">Criar Loja</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
    <%- include('partials/script') %>
    <script>
        var carregarImagem = function (event) {
            var imagem = document.querySelector('.imagem');
            imagem.src = URL.createObjectURL(event.target.files[0]);
            imagem.onload = function () {
                URL.revokeObjectURL(imagem.src) 
            }
        }
    </script>
</body>