<% include partials/header %>

<body>
  <div class="page">
    <%- include('partials/navbar') %>

    <!-- CONTEÚDO PRINCIPAL -->
    <div id="meio-home" class="container">
      <div class="row">
        <%- include('partials/breadcrumb') %>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div id="painel-cliente" class="container center">

            <!-- Confirmação do pedido -->
            <div class="card card-body painel-dash" id="borda">
              <div class="row">
                <div class='col-12'>
                  <h4>Confirmação do Pedido</h4>
                </div>
              </div>
              <!-- Divider -->
              <hr class="sidebar-divider my-0">

              <div class="row">
                <a href="#" class="mt-3 ml-4">
                  <% for (id of ids) { %>
                  <h5 id="corRosa"><strong>Pedido Nº <%= id %></strong></h5>
                  <% } %>
                </a>
              </div>
              <div class="row">
                <div class="col-12 text-center mb-3">
                  <h4 id="cinza"><strong> Seu pedido foi realizado com sucesso.</strong></h4>
                </div>
                <div class="col-12 mt-2 ">
                  <p> Agradecemos pela preferência e em breve entraremos em contato
                    para acertarmos os detalhes do seu pedido.</p> 
                    <p>Para mais informações entre em contato conosco:</p>
                </div>
                <div class="col-12 mt-2">
                  <% for(let dados of pedidos){ %>                      
                    <p><a id="cinza" href=""><strong> Pedido: </strong><strong id="corRosa"><%= dados.id %></strong></a> <br>
                      <a id="corRosa" href=""><strong>Loja: </strong><strong id="corRosa"> <%= dados.loja.nome %></strong></a> <br>
                    <a id="cinza" href=""><strong>Email: <%= dados.loja.email %></strong></a> <br>
                    <a id="cinza" href=""><strong>Celular: <%= dados.loja.telefone %></strong></a></p>
                  <% } %>
                </div>
                   
                    
                  
              </div>

              <div class="row">
                <div class="col-12 text-right">
                  <a type="button" href="/" class="btn btn-link btn-voltar">Voltar</a>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
    <%- include('partials/script') %>
</body>