<%- include('partials/header') %>

<!-- incluindo charts js -->
<script src="https://cdn.jsdelivr.net/combine/npm/chart.js@2.9.3,npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<body>
    <!-- PAGINA COMPLETA -->
    <%- include('partials/navbar') %>
    <div class="page-dashboard container">

        <div class="row pedidos">
            <div class="pedidos-atrasados">
                <h4>Pedidos Atrasados</h4>
                <% if (atrasados.length > 0) { %>
                <table class="table table-striped table-bordered table-responsive-lg">
                    <thead>
                        <tr>
                            <th scope="col">N° do Pedido</th>
                            <th scope="col">Data de Entrega</th>
                            <th scope="col">Produtos do Pedido</th>
                            <th scope="col">Dados do Cliente</th>
                            <th scope="col">Status do Pagamento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (atrasado of atrasados) { %>
                        <tr>
                            <td scope="row"><strong><%= atrasado.id %></strong></td>
                            <td><strong><%= moment(atrasado.entrega).format('DD/MM/YYYY')%></strong></td>
                            <td>
                                <ul class="list-group list-group-flush">
                                    <% for (produto of atrasado.listaDeProdutos) { %>
                                    <li class="list-group-item"><%= produto.quantidade %>x <%= produto.nome %></li>
                                    <% } %>
                                </ul>
                            </td>
                            <td><%= atrasado.usuario.nome %><br><%= atrasado.usuario.celular %></td>
                            <td><%= atrasado.pagamento %></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
                <% } else { %>
                <% if (proximos.length > 0) { %>
                <p>Parabéns! Todos os seus pedidos estão em dia :)</p>
                <% } else { %>
                <p>Você não possui pedidos em aberto.</p>
                <% } %>
                <% } %>
            </div>
            <div class="pedidos-futuros">
                <h4>Próximos Pedidos</h4>
                <% if (proximos.length > 0) { %>
                <table class="table table-striped table-bordered table-responsive-lg">
                    <thead>
                        <tr>
                            <th scope="col">N° do Pedido</th>
                            <th scope="col">Data de Entrega</th>
                            <th scope="col">Produtos do Pedido</th>
                            <th scope="col">Dados do Cliente</th>
                            <th scope="col">Status do Pagamento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (proximo of proximos) { %>
                        <tr>
                            <td scope="row"><strong><%= proximo.id %></strong></td>
                            <td><strong><%= moment(proximo.entrega).format('DD-MM-YYYY'); %></strong></td>
                            <td>
                                <ul class="list-group list-group-flush">
                                    <% for (produto of proximo.listaDeProdutos) { %>
                                    <li class="list-group-item"><%= produto.quantidade %>x <%= produto.nome %></li>
                                    <% } %>
                                </ul>
                            </td>
                            <td><%= proximo.usuario.nome %><br><%= proximo.usuario.celular %></td>
                            <td><%= proximo.pagamento %></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
                <% } else { %>
                <p>Você não possui pedidos em aberto.</p>
                <% } %>
            </div>
        </div>

        <div class="row graficos">
            <input id="id-loja" type="hidden" value="<%= loja.id %>">
            <div class="container-vendas-loja">
                <select id="select-vendas-loja">
                    <option value="2020" selected>2020</option>
                    <option value="2019">2019</option>
                </select>
                <canvas id="vendas-loja"></canvas>
            </div>
            <div class="container-vendas-produtos">
                <select id="select-vendas-produtos">
                    <option value="1" selected>Geral</option>
                    <option value="2020">Geral 2020</option>
                    <option value="20207">Jul 2020</option>
                    <option value="20206">Jun 2020</option>
                    <option value="20205">Mai 2020</option>
                    <option value="20204">Abr 2020</option>
                    <option value="20203">Mar 2020</option>
                    <option value="20202">Fev 2020</option>
                    <option value="20201">Jan 2020</option>
                    <option value="2019">Geral 2019</option>
                    <option value="201912">Dez 2019</option>
                    <option value="201911">Nov 2019</option>
                    <option value="201910">Out 2019</option>
                    <option value="20199">Set 2019</option>
                    <option value="20198">Ago 2019</option>
                    <option value="20197">Jul 2019</option>
                    <option value="20196">Jun 2019</option>
                    <option value="20195">Mai 2019</option>
                    <option value="20194">Abr 2019</option>
                    <option value="20193">Mar 2019</option>
                    <option value="20192">Fev 2019</option>
                    <option value="20191">Jan 2019</option>
                </select>
                <canvas id="vendas-produtos"></canvas>
            </div>
        </div>
    </div>
</body>

<%- include('partials/script') %>

</html>