<% include partials/header %>

<body>
    <div class="page">
        <%- include('partials/navbar') %>

        <div id="meio-home-perfil-cliente" class="container">
            <div class="row">
                <%- include('partials/breadcrumb') %>
                
                <div id="painel-cliente" class="container">

                    <!-- Card Dados Pessoais -->
                    <div class="card card-body painel-dash" id="borda">

                        <!-- Form dos dados -->
                        <div class="row">
                            <div class="col-4">
                                <h4>Dados Pessoais</h4>
                            </div>

                        </div>
                        <form enctype="multipart/form-data" method="POST"
                            action="/usuarios/editar-cliente/<%= usuario.id %>?_method=PUT">
                            <div class="card card-body painel-dash border-left-primary shadow ml-2 mr-2">
                                <div class="row">
                                    <div class='col-9'>
                                        <input type="hidden" name="id" value="<%= usuario.id %>">
                                        <!-- NOME COMPLETO-->
                                        <div class="form-group row">
                                            <label for="inputNome" class="col-sm-3 col-form-label">Nome
                                                Completo</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="inputNome"
                                                    name="nomeCli"
                                                    value="<%= usuario.nome + ' ' + usuario.sobrenome %> ">
                                            </div>
                                        </div>
                                        <!-- DATA NASCIMENTO -->
                                        <div class="form-group row">
                                            <label for="inputData" class="col-sm-3 col-form-label">Data de
                                                Nascimento</label>
                                            <div class="col-sm-5">
                                                <input type="date" class="form-control" id="inputData"
                                                    name="dataCli" value="<%= usuario.data_nasc %>">
                                            </div>
                                        </div>
                                        <!-- CPF-->
                                        <div class="form-group row">
                                            <label for="inputCPf" class="col-sm-3 col-form-label">CPF</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="inputCPF" name="cpfCli"
                                                    value="<%= usuario.cpf %>">
                                            </div>
                                        </div>
                                        <!-- Celular-->
                                        <div class="form-group row">
                                            <label for="inputCel" class="col-sm-3 col-form-label">Celular</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="inputCel" name="celular"
                                                    value="<%= usuario.celular %>">
                                            </div>
                                        </div>
                                        <!-- SEXO -->
                                        <div class="form-group">
                                            <div class="row">
                                                <legend class="col-form-label col-sm-3 pt-0">Sexo</legend>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="radioSexo"
                                                        id="radioSexoF" value="F"
                                                        <%= (usuario.sexo == 'F')? 'checked' : '' %>>
                                                    <label class="form-check-label"
                                                        for="radioSexoF">Feminino</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="radioSexo"
                                                        id="radioSexoM" value="M"
                                                        <%= (usuario.sexo == 'M')? 'checked' : '' %>>
                                                    <label class="form-check-label"
                                                        for="radioSexoM">Masculino</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- FOTO -->
                                    <div class="col-3 text-center">
                                        <% if(usuario.imagem == null){ %>
                                        <img src="/images/novo-usuario.png" alt="">
                                        <% } else { %>
                                        <img class='d-block img-thumbnail imagem' src='<%= usuario.imagem %>'
                                            width="200px" alt='avatar'>
                                        <% } %>

                                        <label for="img-input1">
                                            <img src="/images/camera.png" alt="">
                                            <input type="file" class="form-control-file" name="img" id="img-input1"
                                                onchange="carregarImagem(event)" value="<%= usuario.imagem %>"
                                                multiple>
                                        </label>
                                    </div>
                                    <!-- BOTÂO ALTERAR-->
                                    <div class="text-right col-12">
                                        <!-- ENDERECO -->
                                        <% if (endereco) { %>
                                        <a class="btn btn-alt" href="/usuarios/editar-endereco">Alterar
                                            endereço</a>
                                        <% } else { %>
                                        <a class="btn btn-alt" href="/usuarios/editar-endereco">Cadastrar
                                            endereço</a>
                                        <% } %>
                                        <button type="submit" class="btn btn-alt">Salvar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <% include partials/footer-alt %>
    <% include partials/script %>
    <script>
        var carregarImagem = function (event) {
            var imagem = document.querySelector('.imagem');
            imagem.src = URL.createObjectURL(event.target.files[0]);
            imagem.onload = function () {
                URL.revokeObjectURL(imagem.src)
            }
        }
    </script>
</body>