<!DOCTYPE html>
<html lang="pt-br">
<head>
 <title>Quero Festas | NOT FOUND</title>
 

 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Bootstrap CSS -->
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 <link rel="stylesheet" href="../stylesheets/style.css">
 <link rel="stylesheet" href="../stylesheets/painelstyle.css">
 <link rel="stylesheet" href="../stylesheets/offerstyle.css">
 <link rel="stylesheet" href="../stylesheets/categorystyle.css">
 <link rel="stylesheet" href="../stylesheets/menu-horizontalstyle.css">
 <link rel="stylesheet" href="../stylesheets/menu-horizontal-vendedorstyle.css">
 <link rel="stylesheet" href="../stylesheets/buscarstyle.css"> 
 <!-- <link rel="stylesheet" href="../stylesheets/form-cadastro-produtostyle.css"> -->
 <link rel="stylesheet" href="../stylesheets/logar.css"> 

</head>

<body>
    <div class="page">
        <% include partials/menu %>
  
        <!-- MENU HORIZONTAL -->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <nav class="navbar navbar-expand-lg navbar-light rounded" id="menu-horizontal">
              
        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
          <ul class="navbar-nav mr-auto">
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#aniversarioH" data-toggle="collapse"
                    data-target="#aniversarioH" aria-expanded="true" aria-controls="aniversarioH">
                    <span>Aniversário</span></a>
                <div id="aniversarioH" class="collapse">
                    <div class="bg-white px-2 py-2 collapse-inner rounded">
                        <a class="collapse-item" href="#">Mesversário</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#bodasH" data-toggle="collapse"
                    data-target="#bodasH" aria-expanded="true"
                    aria-controls="bodasH">
                    <span>Bodas</span>
                </a>
                <div id="bodasH" class="collapse">
                    <div class="bg-white px-2 py-2 collapse-inner rounded">
                        <a class="collapse-item" href="#">Papel</a><br>
                        <a class="collapse-item" href="#">Madeira e Ferro</a><br>
                        <a class="collapse-item" href="#">Estanho ou Zinco</a><br>
                        <a class="collapse-item" href="#">Cristal</a><br>
                        <a class="collapse-item" href="#">Porcelana</a><br>
                        <a class="collapse-item" href="#">Prata</a>
                    </div>
                </div>
            </li>
            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#datasEspeciaisH" data-toggle="collapse"
                    data-target="#datasEspeciaisH" aria-expanded="true"
                    aria-controls="datasEspeciaisH">
                    <span>Datas Especiais</span>
                </a>
                <div id="datasEspeciaisH" class="collapse">
                    <div class="bg-white px-2 py-2 collapse-inner rounded">
                        <a class="collapse-item" href="#">Dia das Mães</a><br>
                        <a class="collapse-item" href="#">Dia dos Pais</a><br>
                        <a class="collapse-item" href="#">Dia dos Namorados</a><br>
                        <a class="collapse-item" href="#">Dia das Crianças</a><br>
                        <a class="collapse-item" href="#">Pascoa</a>
                    </div>
                </div>
            </li>
            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#comemoracoesH" data-toggle="collapse"
                    data-target="#comemoracoesH" aria-expanded="true"
                    aria-controls="comemoracoesH">
                    <span>Comemorações</span>
                </a>
                <div id="comemoracoesH" class="collapse">
                    <div class="bg-white px-2 py-2 collapse-inner rounded">
                        <a class="collapse-item" href="#">Happy Hour</a><br>
                        <a class="collapse-item" href="#">Confraternização</a>
                    </div>
                </div>
            </li>
          </ul>
          
        </div>
      </nav>

</div>


    

<!-- FIM DO MENU HORIZONTAL -->
<div class="painel-erro container text-center">
    <div class="col-12 text-center">
        <div class="card painel-dash">
            <div class="card-body"> 
                <!-- <h1><%= message %></h1> -->
                <!-- <h1><%= error.status %></h2>     -->
                    <h1>Oops! Parece que algo deu errado!</h1>
                    <h2>Não conseguimos encontrar a página que você buscou!</h2>
            </div>
            
        </div>
    </div>
</div>
<!-- <h1><%= message %></h1>
<h2><%= error.status %></h2> -->
<!-- <pre><%= error.stack %></pre> -->

<!-- FOOTER -->
<br><br>
<% include partials/footer %>
<% include partials/script %>