<% include partials/header %>

<body>
  <!-- PAGINA COMPLETA -->
  <div class="page">
    <%- include('partials/navbar') %>

    <!-- CONTEÚDO PRINCIPAL -->
    <div id="meio-home" class="container">
      <div class="row ">
        <!-- # Inicio Painel -->
        <div id="painel-publico" class="container">
          <!-- CONTAINER CAMINHO DAS PAGINAS -->
          <%- include('partials/breadcrumb') %>
          
          <div class="card card-body painel-dash-pedido ml-5 mr-5">
            <div class="row">
              <div class='col-4'>
                <h4>Pedidos</h4>
              </div>
            </div>

            <div class="card border-left-primary ml-2 mr-2">
              <div class="card-body row">
                <div class="col-12">
                  
                  <table class="table mt-2">
                    <thead>
                      <tr>
                        <th scope="col">Pedido</th>
                        <th scope="col">Data</th>
                        <th scope="col">Subtotal</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>                   
               
                      <% for(let pedido of pedidosRealizados){ %>
                        <tr>
                          <th scope="row"><%= pedido.id %></th>
                          <td><%= moment(pedido.entrega).format('DD-MM-YYYY') %></td> 
                          <td><%= pedido.valor_total.toFixed(2) %></td>
                          <td><%= pedido.pagamento %></td>                         

                          <!-- Botão: Detalhes do Pedido -->
                          <td>
                            <a href="/pedidos/pedido/detalhes-pedido/<%= pedido.id %>" type="button" class="btn btn-alt">Detalhes</a>
                          </td>  
                        </tr>
                      <% } %>
                    </tbody>
                  </table>                  

                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 text-center mt-2">
                <% if(pedidosRealizados <= 0){ %>
                  <h6>Não há pedidos</h6>
                <% } %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <% include partials/footer-alt %>
  <% include partials/script %>
</body>

</html>