<% include partials/header %>
<link rel="stylesheet" href="./stylesheets/pedidostyle.css">

<body>
  <!-- PAGINA COMPLETA -->
  <div class="page">
    <%- include('partials/navbar') %>

    <!-- CONTEÚDO PRINCIPAL -->
    <div id="meio-home" class="container">
      <div class="row ">
        <!-- # Inicio Painel -->
        <div id="painel-publico" class="container">
          <!-- CONTAINER CAMINHO DAS PAGINAS -->
          <%- include('partials/breadcrumb') %>
          <!-- FIM CONTAINER CAMINHO DAS PAGINAS -->

          <div class="card painel-dash border-left-primary shadow ml-5 mr-5">
            <div class="card-body painel-dash">
              <div class="row">
                <div class='col-4'>
                  <h4>Pedidos</h4>
                </div>
              </div>
              <div class="card painel-dash border-left-primary shadow ml-2 mr-2">
                <div class="card-body row ">
                  <div class="col-12">

                    <table class="table mt-2">
                      <thead>
                        <tr>
                          <th scope="col">Pedido</th>
                          <th scope="col">Data</th>
                          <th scope="col">Valor</th>
                          <th scope="col">qtde</th>
                          <th scope="col">Subtotal</th>
                          <th scope="col">Status</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row"><%= pedido.id %></th>
                          <td><%= pedido.entrega.data_prev %></td>
                          <td>R$ <%= pedido.produtos[0].toJSON().valor %></td>
                          <td class="text-center"><%= pedido.listaDeProdutos[0].toJSON().quantidade %></td>
                          <td><%= pedido.produtos[0].toJSON().valor * pedido.listaDeProdutos[0].toJSON().quantidade %></td>
                          <td>
                            <% if(pedido.entrega.data_real){ %>
                                 Entregue
                            <% } %>
                          </td>
                          <td>
                            <button type="button" class="btn btn-alt" data-toggle="modal" data-target="#ExemploModalCentralizado" data-id="<%= pedido.id %>">Detalhes</button>
                            <!-- Modal -->
                            <div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="TituloModalCentralizado">Nº do Pedido: <%= pedido.id %></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <div class="card painel-dash border-left-primary shadow ">
                                      <div class="card-body painel-dash">
                                        <h6><%= pedido.loja.nome %></h6>

                                        <table class="table table-sm">
                                          <thead>
                                            <tr>
                                              <th scope="col">img</th>
                                              <th scope="col">Descrição</th>
                                              <th scope="col">Preço</th>
                                              <th scope="col">Qtde</th>
                                            <th scope="col">Subtotal</tr>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <td>.png</td>
                                              <td><%= pedido.produtos[0].toJSON().nome%></td>
                                              <td><%= pedido.produtos[0].toJSON().valor %></td>
                                              <td><%= pedido.listaDeProdutos[0].toJSON().quantidade %></td>
                                              <td><%= pedido.produtos[0].toJSON().valor * pedido.listaDeProdutos[0].toJSON().quantidade %></td>
                                            </tr>                                                
                                          </tbody>
                                        </table>
                                      </div>
                                    </div>

                                    <div class="card painel-dash border-left-primary shadow ">
                                      <div class="card-body painel-dash">
                                        Status do pedido <br>
                                        [      0 ----------- 0 ----------- 0 --------- 0     ] <br>
                                             Pedido  &times;     Pagamento   &times;   Envio &times;    Entregue
                                      </div>
                                    </div>
                                   
                                    <div class="card painel-dash border-left-primary shadow ">
                                      <div class="card-body painel-dash">                                       

                                        <table class="table table-sm table-borderless">
                                          <thead>
                                            <tr>
                                              <th scope="col">Endereço de entrega</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <th scope="row"><%= pedido.usuario.nome + ' ' + pedido.usuario.sobrenome %></th>
                                            </tr>
                                            <tr>
                                              <td><%= pedido.endereco.logradouro + ', ' + pedido.endereco.numeral%></td>
                                            </tr>
                                            <tr>
                                              <td><%= pedido.endereco.cidade + ' ' + pedido.endereco.estado %></td>
                                            </tr>
                                            <tr>
                                              <td><%= pedido.endereco.cep %></td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                    </div>

                                    <div class="card painel-dash border-left-primary shadow">
                                      <div class="card-body painel-dash">
                                        <table class="table table-sm">
                                          <thead>
                                            <tr>
                                              <th scope="col">Pagamento</th>
                                              <th scope="col"></th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <th scope="row">Subtotal</th>
                                              <td><%= pedido.produtos[0].toJSON().valor * pedido.listaDeProdutos[0].toJSON().quantidade %></td>
                                            </tr>
                                            <tr>
                                              <th scope="row">Frete</th>
                                              <td>R$ 10,00 </td>
                                            </tr>
                                            <tr>
                                              <th scope="row">Desconto</th>
                                              <td>R$ 0,00</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">Juros</th>
                                              <td>R$ 0,00</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">Total do Pedido</th>
                                              <td><%= pedido.produtos[0].toJSON().valor * pedido.listaDeProdutos[0].toJSON().quantidade %></td>
                                            </tr>
                                            <tr>
                                              <th colspan="2" scope="row" class="text-center">Pagamento realizado via 
                                                <% if(pedido.pagamento.forma_pagamento){ %>
                                                  <%= pedido.pagamento.forma_pagamento %>
                                                <% } %>
                                              </th>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                    </div>

                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-alt" data-dismiss="modal">Fechar</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- Fim modal -->                          
                          </td>                           
                        </tr>                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include partials/footer-alt %>
  <% include partials/script %>
</body>

</html>