<% include partials/header %>

<body>

    <div class="page-loja">
        <%- include('partials/navbar') %>

        <div id="meio-home" class="container">

            <%- include('partials/breadcrumb') %>

            <div class="row loja">

                <img class='d-block img-thumbnail' src='<%= lojaPerfil.toJSON().imagem %>' width="200px"
                    alt='perfil Loja'>

                <div class='infos'>
                    <div class="header-loja">
                        <h4><%= lojaPerfil.nome %></h4>
                        <div class="avaliacao">
                            <% if (avaliacaoLoja[0].toJSON().quantidade) { %>
                            <% var mediaAvaliacaoLoja = Math.round(Number(avaliacaoLoja[0].toJSON().media) * 10) / 10; %>
                            <% var avaliacaoPercLoja = ((18 * mediaAvaliacaoLoja) + (4.3875 * Math.trunc(mediaAvaliacaoLoja))) / 107.550 * 100;; %>
                            <% var quantidadeAvaliacoesLoja = avaliacaoLoja[0].toJSON().quantidade; %>
                            <% } else { %>
                            <% var mediaAvaliacaoLoja = 0; %>
                            <% var avaliacaoPercLoja = 100; %>
                            <% var quantidadeAvaliacoesLoja = 0; %>
                            <% } %>
                            <div class="stars-outer">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <div class="stars-inner" style="width: <%= avaliacaoPercLoja %>%">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                            <span><%= mediaAvaliacaoLoja %></span>
                            <span>(<%= quantidadeAvaliacoesLoja %>)</span>
                        </div>
                    </div>

                    <div class="dados-loja">
                        <p><%= lojaPerfil.telefone%></p>
                        <p><%= lojaPerfil.email%></p>
                        <p><%= lojaPerfil.descricao %></p>
                        <% if (loja) { %>
                        <% if (loja.id == lojaPerfil.id) { %>
                        <a href="/lojas/editar-loja/<%= loja.id %>">Alterar Dados</a>
                        <% } else { %>
                        <span class=" proprietario">Proprietário: <a
                                href="/usuarios/perfil-cliente/<%= lojaPerfil.usuario.id %>"><%= lojaPerfil.usuario.nome %></a></span>
                        <% } %>
                        <% } else { %>
                        <span class="proprietario">Proprietário: <a
                                href="/usuarios/perfil-cliente/<%= lojaPerfil.usuario.id %>"><%= lojaPerfil.usuario.nome %></a></span>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="row produtos-loja">
                <% if(resultado.length > 0) { %>
                <h4>Produtos</h4>
                <% for(produto of resultado) { %>
                <% if(produto.toJSON().avaliacoes[0]) { %>
                <% var avaliacao = Math.round(Number(produto.toJSON().avaliacoes[0].media) * 10) / 10; %>
                <% var avaliacaoPerc = ((18 * avaliacao) + (4.3875 * Math.trunc(avaliacao))) / 107.550 * 100; %>
                <% var quantidadeAvaliacoes = Number(produto.toJSON().avaliacoes[0].quantidade); %>
                <% } else { %>
                <% var avaliacao = 0; %>
                <% var avaliacaoPerc = 100; %>
                <% var quantidadeAvaliacoes = 0; %>
                <% } %>
                <card class="anuncio-box card shadow card-produtos">
                    <div class="imagem-produto">
                        <button onclick="adicionarProdutoFetch(
                        <%= produto.id %>, 
                        1, 
                        0)">
                            Adicionar ao carrinho</button>
                        <img src="<%= produto.toJSON().imagens[0].image_url %>" class="img-fluid">
                    </div>
                    <titulo class="card-text"><%= produto.nome %></titulo>
                    <div class="avaliacao">
                        <div class="stars-outer">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <div class="stars-inner" style="width: <%= avaliacaoPerc %>%">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <span><%= avaliacao %></span>
                        <span>(<%= quantidadeAvaliacoes %>)</span>
                    </div>
                    <preco>R$<%= produto.valor.toFixed(2) %></preco>

                    <a href="/produtos/<%= produto.id %>">Saiba Mais...</a>
                </card>
                <% } %>
                <% } else { %>
                <h4>Esta loja ainda não cadastrou nenhum produto :(</h4>
                <% if(loja) { %>
                <% if (loja.id == lojaPerfil.id) { %>
                <a class="cadastre-produto" href="/produtos/cadastrar-produto">Cadastre o seu primeiro produto</a>
                <% } %>
                <% } %>
                <% } %>
            </div>
        </div>
    </div>

    <% include partials/footer-alt %>
    <% include partials/script %>

</body>

</html>