<% include partials/header %>

<body>

    <!-- PAGINA COMPLETA -->
    <div class="page-loja">
        <%- include('partials/navbar') %>

        <div id="meio-home" class="container">

            <%- include('partials/breadcrumb') %>

            <div class="row loja">

                <img class='d-block img-thumbnail' src='/images/deco-avatar.png' width="200px" alt='avatar'>

                <div class='infos'>
                    <div class="header-loja">
                        <h4><%= lojaPerfil.nome %></h4>
                        <div class="avaliacao">

                            <% const mediaAvaliacaoLoja = Math.round(Number(avaliacaoLoja[0].toJSON().media) * 10) / 10; %>
                            <% const avaliacaoPercLoja = ((18 * mediaAvaliacaoLoja) + (4.3875 * Math.trunc(mediaAvaliacaoLoja))) / 107.550 * 100;; %>
                            <% const quantidadeAvaliacoesLoja = avaliacaoLoja[0].toJSON().quantidade; %>
                            <div class="stars-outer">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <div class="stars-inner" style="width: <%= avaliacaoPercLoja %>%">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                            <span><%= mediaAvaliacaoLoja %></span>
                            <span>(<%= quantidadeAvaliacoesLoja %>)</span>
                        </div>
                    </div>

                    <div class="dados-loja">
                        <p><%= lojaPerfil.descricao %></p>
                        <span class="proprietario">Proprietário: <a
                                href="/usuarios/<%= lojaPerfil.usuario.id %>"><%= lojaPerfil.usuario.nome %></a></span>
                    </div>
                </div>
            </div>

            <div class="row produtos-loja">
                <% for(produto of resultado) { %>
                <% if(produto.toJSON().avaliacoes[0]) { %>
                <% var avaliacao = Math.round(Number(produto.toJSON().avaliacoes[0].media) * 10) / 10; %>
                <% var avaliacaoPerc = ((18 * avaliacao) + (4.3875 * Math.trunc(avaliacao))) / 107.550 * 100; %>
                <% var quantidadeAvaliacoes = Number(produto.toJSON().avaliacoes[0].quantidade); %>
                <% } else { %>
                <% var avaliacao = 0; %>
                <% var avaliacaoPerc = 100; %>
                <% var quantidadeAvaliacoes = 0; %>
                <% } %>
                <card class="anuncio-box card shadow card-produtos">
                    <a href="/produtos/<%= produto.id %>"><img src="<%= produto.toJSON().imagens[0].image_url %>" alt=""
                            class="img-fluid"></a>
                    <titulo class="card-text"><%= produto.nome %></titulo>
                    <div class="avaliacao">
                        <div class="stars-outer">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <div class="stars-inner" style="width: <%= avaliacaoPerc %>%">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <span><%= avaliacao %></span>
                        <span>(<%= quantidadeAvaliacoes %>)</span>
                    </div>
                    <preco>R$<%= produto.valor.toFixed(2) %></preco>

                    <a href="/produtos/<%= produto.id %>">Saiba Mais...</a>
                </card>
                <% } %>
            </div>
        </div>
    </div>

    <% include partials/footer-alt %>
    <% include partials/script %>

</body>

</html>