<%- include('partials/header') %>

<body>

    <!-- PAGINA COMPLETA -->
    <div class="page">
        <%- include('partials/navbar') %>

        <!-- CONTEÚDO PRINCIPAL -->
        <div id="meio-home" class="container">

            <%- include('partials/breadcrumb') %>

            <!-- dados do produto -->
            <div class="row produto">

                <!-- imagens -->
                <div class="carrossel-produto">
                    <%include partials/carrosel-produto %>
                </div>

                <!-- informações do produto -->
                <div class="infos">
                    <!-- nome e avaliações -->
                    <div class="header-produto">
                        <h4><%= produto.nome %></h4>
                        <div class="avaliacao">
                            <% const avaliacao = Math.round(Number(media) * 10) / 10; %>
                            <% const avaliacaoPerc = ((18 * avaliacao) + (4.3875 * Math.trunc(avaliacao))) / 107.550 * 100; %>
                            <% const quantidade = Number(avaliacoes.length); %>
                            <div class="stars-outer">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <div class="stars-inner" style="width: <%= avaliacaoPerc %>%">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                            <span><%= avaliacao %></span>
                            <span>(<%= avaliacoes.length %>)</span>
                        </div>
                    </div>

                    <!-- descrição e valor -->
                    <div class="dados-produto">
                        <p><%= produto.descricao %></p>
                        <span>R$<%= produto.valor.toFixed(2) %></span>
                        <button>Comprar</button>
                    </div>

                    <!-- botão comprar -->
                </div>
            </div>

            <!-- avaliações do produto -->
            <div class="row avaliacoes">
                <h4 class="header-avaliacoes">Avaliações</h4>

                <div class="avaliacoes-individuais">
                    <% for (let i = quantidades.length - 1; i > 0; i--) { %>
                    <div class="avaliacao">
                        <div class="stars-outer">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <div class="stars-inner" style="width: <%= ((18 + 4.3875) * i) / 107.550 * 100 %>%">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <span>(<%= quantidades[i] %>)</span>
                    </div>
                    <% } %>
                </div>

                <h4 class="header-comentarios">Comentários</h4>

                <div class="comentarios">
                    <% for (let i = avaliacoes.length - 1; i >= 0; i--) { %>
                    <% const nome = avaliacoes[i].usuarios.nome; const sobrenome = avaliacoes[i].usuarios.sobrenome %>
                    <% const id = avaliacoes[i].usuarios.id %>

                    <div class="comentario <%= i % 4 == 0 || (i-1) % 4 == 0 ? 'branco' : 'branco' %>">
                        <a href="/usuarios/perfil-cliente/<%= id %>"><%= nome %> <%= sobrenome %></a>
                        <div class="avaliacao">
                            <div class="stars-outer">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <div class="stars-inner"
                                    style="width: <%= ((18 * avaliacoes[i].classificacao) + (4.3875 * Math.trunc(avaliacoes[i].classificacao))) / 107.550 * 100 %>%">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <span><%= avaliacoes[i].createdAt.toLocaleDateString('pt-BR', { year: 'numeric', month: '2-digit', day: '2-digit' }) %></span>
                        <p><%= avaliacoes[i].comentario || "Em branco" %></p>
                    </div>
                    <% } %>
                </div>
            </div>

            <!-- ### CARD DE MAIS ANUNCIOS -->
            <div class=" row card-body ">

                <div class=" row">
                    <div class='col-7 mx-5'>
                        <h4>Mais Anuncios deste Vendedor</h4>
                    </div>
                </div>
                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <% include partials/anuncios-vendedor %>
            </div>
        </div>
    </div>
    </div>
    </div>

    <% include partials/footer-alt %>
    <% include partials/script %>

</body>

</html>